body {
  background: lightblue;
  overflow: hidden; }

#cloudbox, #cloudbox2 {
  --cloud-color: white;
  overflow: hidden;
  -webkit-filter: url("#fancy-goo");
  filter: url("#fancy-goo");
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  width: 150%; }

#cloudbox span, #cloudbox2 span {
  position: absolute;
  display: block;
  width: 200px;
  height: 20px;
  background: var(--cloud-color);
  border-radius: 10px;
  -webkit-transform-origin: "50% 50%";
  -ms-transform-origin: "50% 50%";
  transform-origin: "50% 50%"; }
